#background {
    position: fixed;
    z-index: -1;
    background-image: url("../assets/img/background.webp");
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
}

main {
    padding-top: 50px;
    background-color: rgba(255, 255, 255, 0.247);
}

/* Header */

header {
    text-align: center;
}

#logo {
    width: 20vw;
}

/* Gallery */

main {
    display: flex;
    justify-content: center;
}

#champions-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 25px;
}

.champion {
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    height: 90%;
    width: 15vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.champion:hover {
    animation: move 0.6s;
}

@keyframes move {
    0% {
        transform: translate(0%, 0%);
    }
    50% {
        transform: translate(0%, -5%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}

.champion-image {
    width: 100%;
    height: 50%
}

.champion-image img {
    border-radius: 25px;
    max-width: 100%;
    width: 100%;
}

.champion-content {
    border-radius: 25px;
    background-color: rgb(228, 228, 228)  ;
    width: 100%;
    height: 50%;
}

.champion-name {
    text-align: center;
}

.champion-tags {
    text-align: center;
}

.champion-energy {
    width: 100%;
    margin-top: 10%;
    display: flex;
}

.champion-hp {
    background-color: rgb(255, 117, 117);
    text-align: center;
    width: 100%;
}

.champion-mp {
    background-color: rgb(131, 131, 255);
    text-align: center;
    width: 100%;
}

.champion-tag {
    padding: 10px;
    width: 33%;
    background-color: whitesmoke;
    border-radius: 20px;
    margin: 10px;
}

.champion-stats {
    width: 80%;
    padding: 10%
}